extends layout

block styles
  link(rel='stylesheet', type='text/css', href='/css/index.css')
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading ChumPi
            p.intro-text Don't do anything funny.
        a.btn.btn-circle.page-scroll(href='torrent')
          i.fa.fa-angle-double-down.animated
block footer
block scripts