extends layout

block styles
  link(rel='stylesheet', type='text/css', href='/css/index.css')
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading ChumPi
        .row
          .btn-group.btn-group.lg(role='group', aria-label='...')
            button.btn.btn-default(type='button') On
            button.btn.btn-default(type='button') Off
            button.btn.btn-default(type='button') Automate
        .row
          .btn-group.btn-group.lg(role='group', aria-label='...')
            button.btn.btn-default(type='button') On
            button.btn.btn-default(type='button') Off
            button.btn.btn-default(type='button') Automate
        .row
          p
          iframe#cameraframe(align='center', width='358', height='293')
block footer
block scripts
  // Index script
  script(src='js/index.js')
