extends layout

block styles
  link(rel='stylesheet', type='text/css', href='/css/index.css')
block content
  .main
    .main-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading Torrent
            section#torrent.bg-light-gray
        .row
          .col-lg-12.text-justify
            h2
              strong
                u HOW
            ol
              li.list
                | Go to 
                a(href='http://155.4.157.57:9091') http://155.4.157.57:9091
              li.list Add the torrent that you want and start downloading.
              li.list
                | Once complete, go to 
                a(href='http://155.4.157.57/Downloads') http://155.4.157.57/Downloads
              li.list
                | Login using username 
                strong torrent
                |  and password 
                strong download
                | .
              li.list Download your files.
              li.list
                | Once you're done, right click on the torrent and click 'Trash Data and Remove From List...'.
              li.list Enjoy torrenting at high speeds!
            h2
              strong
                u NOTE
            ol
              li.list Be considerate. Try not to hog bandwidth if someone else is torrenting.
              li.list Try not to seed. Remove your torrent once complete to reduce bandwidth usage.
              li.list
                | Download your files as soon as they're complete. All files are automatically cleared at 12 midnight everyday.
block footer
block scripts